{% extends 'base.html' %}
{% load form_filters %}

{% block title %}Edit {{ course.course_name }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit {{ course.course_name }}</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="updateTagsInput()">
        {% csrf_token %}

        <input type="hidden" name="tags" id="tags-input" value="{{ course.tags|default:'' }}" /> <!-- Ensure tags are passed -->

        <div class="form-group">
            {{ course_form.course_name.label_tag }}
            {{ course_form.course_name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ course_form.course_code.label_tag }}
            {{ course_form.course_code|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ course_form.description.label_tag }}
            {{ course_form.description|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ course_form.instructor.label_tag }}
            {{ course_form.instructor|add_class:"form-control" }}
        </div>


        <!-- Topic Selection Dropdown -->
        <div class="form-group">
            <label for="topic-select">Select Topics</label>
            <select id="topic-select" class="form-control" onchange="updateTagsDropdown()">
                <option value="">Select a topic</option>
                {% for t in topic %}
                    <option value="{{ t.name|lower }}">{{ t.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Tags Section -->
        <div id="tags-container" class="form-group" style="display: none;">
            <h4>Tags</h4>
            <div id="tags-list" class="tags"></div>
        </div>

        <!-- Existing Tags List -->
        <div class="form-group">
            <h3>Existing Tags</h3>
            <div id="existing-tags-list" class="mt-2">
                {% if current_tags|length == 0 %}
                    <p>This course does not have any tags.</p>
                {% else %}
                    {% for tag in current_tags %}
                        <span class="badge badge-info mr-1 selected-tag">
                            {{ tag.name }}
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeTag('{{ forloop.counter0 }}')">X</button>
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Hidden Input for Selected Tags -->
        <input type="hidden" id="tags-input" name="tag_lists" value="{{ current_tags|join:',' }}">

        <div class="form-group">
            <h3>Existing Prerequisite Courses</h3>
            {% if prerequisites %}
                <ul>
                    {% for prereq in prerequisites %}
                    <li>
                        {{ prereq.course_name }}
                        <input type="checkbox" name="delete_prerequisite_{{ prereq.id }}" id="delete_prerequisite_{{ prereq.id }}">
                        <label for="delete_prerequisite_{{ prereq.id }}">Delete</label>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No prerequisites added.</p>
            {% endif %}
        </div>

        <div class="form-group" id="prerequisite-container">
            <h3>Add New Prerequisite Courses</h3>
            <div class="prerequisite-dropdown">
                <select name="prerequisite_courses" class="form-control">
                    <option value="">Select a prerequisite course</option>
                    {% for course in all_courses %}
                        <option value="{{ course.id }}">{{ course.course_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" id="add-prerequisite">Add Another Prerequisite Course</button>

        <div class="form-group">
            <h3>Manage Sessions</h3>
            {% for session in sessions %}
                <div class="session-group">
                    <label>Session Name:</label>
                    <input type="hidden" name="session_ids" value="{{ session.id }}">
                    <input type="text" name="session_names" class="form-control" value="{{ session.name }}">
                    <input type="checkbox" name="delete_session_ids" value="{{ session.id }}">
                    <label for="delete_session_ids">Delete Session</label>
                </div>
            {% empty %}
                <p>No sessions added yet.</p>
            {% endfor %}
        </div>

        <!-- Add New Sessions -->
        <div class="form-group">
            <h3>Add New Sessions</h3>
            <div id="new-session-container">
                <div class="session-group">
                    <input type="text" name="new_session_names" class="form-control" placeholder="New Session Name">
                </div>
            </div>
            <button type="button" class="btn btn-secondary" id="add-new-session">Add Another Session</button>
        </div>

        <div class="mb-4 mt-3">
            {% if sessions %}
                <a href="{% url 'course:course_content_edit' course.pk sessions.0.id %}" class="btn btn-primary">Edit Course Content</a>
                <a href="{% url 'course:reorder_course_materials' course.pk sessions.0.id %}" class="btn btn-primary">Edit Course Order</a>
            {% else %}
                <span>No sessions available.</span>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'course:course_list' %}" class="btn btn-secondary">Return to Course List</a>
    </form>
</div>

<script>
    // Initialize tags array with existing tags from the backend
    const tags = [];
    document.querySelectorAll('#existing-tags-list .badge').forEach(tagElement => {
        const tagText = tagElement.childNodes[0].nodeValue.trim();
        tags.push(tagText.toUpperCase());
    });

    // Set up tags by topic
    const tagsByTopic = {
        {% for t in topic %}
        '{{ t.name|lower }}': [
            {% for tag in all_tags %}
                {% if tag.topic.id == t.id %}
                    '{{ tag.name }}'{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        ],
        {% endfor %}
    };

    function updateTagsDropdown() {
        const selectedTopic = document.getElementById('topic-select').value;
        const tagsContainer = document.getElementById('tags-container');
        tagsContainer.style.display = selectedTopic ? 'block' : 'none';

        const tagsList = document.getElementById('tags-list');
        tagsList.innerHTML = '';

        if (selectedTopic && tagsByTopic[selectedTopic]) {
            tagsByTopic[selectedTopic].forEach(tag => {
                const tagElement = document.createElement('span');
                tagElement.className = 'badge badge-info mr-1';
                tagElement.textContent = tag;
                tagElement.onclick = () => transferTag(tagElement);

                // Mark tag as selected if it's in the tags array
                if (tags.includes(tag.toUpperCase())) {
                    tagElement.classList.add('selected-tag');
                }

                tagsList.appendChild(tagElement);
            });
        }
    }

    function transferTag(tagElement) {
        const tag = tagElement.textContent;
        const tagUpper = tag.toUpperCase();

        if (!tags.includes(tagUpper)) {
            tags.push(tagUpper);
            tagElement.classList.add('selected-tag');
            updateTagsList();
        }
    }

    function removeTag(index) {
        tags.splice(index, 1);
        updateTagsList();
    }

    function updateTagsList() {
        const tagsList = document.getElementById('existing-tags-list');
        tagsList.innerHTML = '';
        tags.forEach((tag, index) => {
            const tagElement = document.createElement('span');
            tagElement.className = 'badge badge-info mr-1 selected-tag';
            tagElement.textContent = tag;

            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-danger btn-sm ml-1';
            removeButton.textContent = 'X';
            removeButton.onclick = () => removeTag(index);

            tagElement.appendChild(removeButton);
            tagsList.appendChild(tagElement);
        });
        updateTagsInput();
    }

    function updateTagsInput() {
        document.getElementById('tags-input').value = tags.join(',');
    }

    document.getElementById('add-prerequisite').addEventListener('click', function() {
        var container = document.getElementById('prerequisite-container');
        var newDropdown = document.createElement('div');
        newDropdown.classList.add('prerequisite-dropdown');
        newDropdown.innerHTML = `
            <select name="prerequisite_courses" class="form-control">
                <option value="">Select a prerequisite course</option>
                {% for course in all_courses %}
                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                {% endfor %}
            </select>
        `;
        container.appendChild(newDropdown);
    });

    document.getElementById('add-new-session').addEventListener('click', function() {
        var container = document.getElementById('new-session-container');
        var newInput = document.createElement('div');
        newInput.classList.add('session-group');
        newInput.innerHTML = `
            <input type="text" name="new_session_names" class="form-control" placeholder="New Session Name">
        `;
        container.appendChild(newInput);
    });
</script>

<style>
    .selected-tag {
        background-color: lightgray;
        color: #000;
    }
</style>

{% endblock %}