{% extends "base.html" %}

{% block title %}My Learning{% endblock %}

{% block content %}

        <div class="container bg-body-secondary">
            <h1>My Learning</h1>
            <p class="mt-4"><small>87hr 36min watch</small> <i class="fa-solid fa-circle-info"></i> <a href="">View all activity</a></p>
            <nav class="nav-tabs">
                <div class="container">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item">
                            <a href="{% url 'mylearning:index' %}" class="nav-link">All Courses</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a href="{% url 'mylearning:learning_paths' %}" class="nav-link">Learning Paths</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a href="{% url mylearning:certification'  %}" class="nav-link">Certification</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a href="{% url 'mylearning:archived' %}" class="nav-link active">Archived</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a href="{% url 'mylearning:learning_tools' %}" class="nav-link">Learning Tools</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
        </div>
        {% endblock %}
