{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Application Management</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'application_submit' %}active{% endif %}" href="{% url 'Application:application_submit' %}">Submit Application</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'user_application_list' %}active{% endif %}" href="{% url 'Application:user_application_list' %}">My Applications</a>
        </li>
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'application_add' %}active{% endif %}" href="{% url 'Application:application_add' %}">Add Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'manage_applications' %}active{% endif %}" href="{% url 'Application:manage_applications' %}">Manage Applications</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Application</button>
    </form>
</div>
{% endblock %}