{% extends 'base.html' %}
{% load form_filters %}
{% block title %}Add Courses to Training Program{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Courses to Training Program</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.program.label_tag }}
            {{ form.program|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.course.label_tag }}
            {{ form.course|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'training_program_for_courses:training_program_list' %}" class="btn btn-secondary">Back to Training Program List</a>
    </form>
</div>
{% endblock %}
