{% extends 'base.html' %}

{% block title %}Users Enrolled in {{ program.program_name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Users Enrolled in {{ program.program_name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Completion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in user_completion_data %}
            <tr>
                <td>{{ data.user.username }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ data.completion_percent }}%;" aria-valuenow="{{ data.completion_percent }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.completion_percent }}%
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{% url 'user:user_detail' data.user.pk %}" class="btn btn-info btn-sm">View User Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'training_program_for_courses:training_program_list' %}" class="btn btn-secondary">Back to Training Program List</a>
</div>
{% endblock %}
