{% extends 'basePortal.html' %}

{% block content %}
<div class="row" style="height: 100%;">
    <main role="main" class="col-md-10 ms-sm-auto px-2 d-flex flex-column" style="height: 90vh;">
        <div class="flex-grow-1" style="overflow-y: hidden; overflow-x: hidden;">
            <div style="height: 100%;">
                {% block left_content %}
                {% endblock left_content %}
            </div>
        </div>
    </main>

    <nav class="col-md-2 d-none d-md-block sidebar" style="height: 90vh; overflow-y: auto;">
        <div style="height: 100%;">
            {% block right_content %}
            {% endblock right_content %}
        </div>
    </nav>
</div>
{% block scripts %}
{% endblock scripts %}
{% endblock %}