{% extends "assessment/main_course_view.html" %}
{% load static %}

{% block title %}{{ assessment.assessment_title }}{% endblock %}

{% block left_content %}
<div class="assessment-header text-center">
    <h1 class="display-4 mb-2">{{ assessment.assessment_title }}</h1>
    <p class="text-muted lead">{{ assessment.assessment_description }}</p>
</div>

<form method="POST" class="assessment-form" id='asm-form'>
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ request.GET.email }}">
    <!-- Display Questions -->
    <div class="mb-4">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#questionsCollapse" aria-expanded="false" aria-controls="questionsCollapse">
            <h3 class="text-primary">Questions</h3>
        </button>
        <div id="questionsCollapse" class="collapse show">
            <div class="border rounded p-3" style="max-height: 90vh; overflow-y: auto; background-color: #f8f9fa;">
                {% for question in questions %}
                <div class="card mb-4 shadow-sm question-card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <h5 class="mr-2 question-number"><strong>{{ forloop.counter }}. </strong></h5>
                            <p class="question-text">{{ question.question_text|linebreaksbr }}</p>
                        </div>

                        {% if question.question_type == "TEXT" %}
                        <textarea name="text_response_{{ question.id }}" rows="4" class="form-control mt-3" required
                            placeholder="Enter your answer..."></textarea>
                        {% else %}
                        <ul class="list-group mt-3">
                            {% for option in question.answer_options.all %}
                            <li class="list-group-item option-item">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="question_{{ question.id }}"
                                        value="{{ option.id }}" id="option_{{ option.id }}">
                                    <label class="form-check-label" for="option_{{ option.id }}">
                                        {{ option.option_text }}
                                    </label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Display Exercises -->
    <div class="mb-4">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#exercisesCollapse" aria-expanded="false" aria-controls="exercisesCollapse">
            <h3 class="text-success">Exercises</h3>
        </button>
        <div id="exercisesCollapse" class="collapse show">
            <div class="border rounded p-3" style="max-height: 90vh; overflow-y: auto; background-color: #e9f7ef;">
                {% for exercise in exercises %}
                <div class="card mb-4 shadow-sm exercise-card">
                    <div class="card-body">
                        <h6 class="exercise-title btn btn-light">Exercise {{ forloop.counter }}.
                            {% if is_preview %}
                            <a href="{% url 'exercises:exercise_detail' exercise.id 0 %}">{{ exercise.title }}</a>
                            {% else %}
                            <a href="{% url 'exercises:exercise_detail' exercise.id assessment.id %}?email={{ email }}">{{ exercise.title }}</a>
                            {% endif %}
                        </h6>
                    </div>
                </div>
                <div id="exercise-content">
                    {% block exercise_content %}
                    {% endblock exercise_content %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</form>
{% endblock left_content %}

{% block right_content %}
<div class="card text-bg-light">
    <div class="card-header">
        <div class="text-lg-center">
            <div id="time_start" time_start="{{attempt.attempt_date|date:'Y-m-d H:i:s'}}"></div>
            <div id="time_limit" value="{{ assessment.time_limit }}">Time Limit: <span
                    class='time'>{{ assessment.time_limit }}</span></div>

            <div id="timer">Time Left: 00:00:00</div>
        </div>
    </div>
    <div class="card-body">
        <video id="video" class="w-100 h-100" autoplay></video>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100 text-truncate" id="dropdown-camera-menu-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Camera
            </button>
            <ul class="dropdown-menu" id='dropdown-camera-menu-item'>
            </ul>
        </div>
    </div>
    <div class="card-footer">
        {% if is_preview %}
        <p class="card-text text-start">This is a preview of the assessment.</p>
        <p class="card-text text-start">You will not be able to submit your answers.</p>
        <div class="text-center">
            <a href="{% url 'assessment:assessment_list' %}" class="btn btn-secondary w-50">Back</a>
        </div>
        {% else %}
        <div class="text-center">
            <button id="submit_btn" type="submit" form='asm-form' class="btn btn-success submit-btn w-75 active">Submit</button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock right_content %}

{% block scripts %}
<script src="{% static 'js/time_converter.js' %}"></script>
<script src="{% static 'js/get_cookie.js' %}"></script>
<script src="{% static 'js/face_behavior_logger.js' %}"></script>
<script src="{% static 'js/tab_behavior_logger.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>

{% endblock scripts %}