{% extends 'base.html' %}

{% block title %}
    Delete Collaboration Group
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h1 class="text-center">Are you sure you want to delete "<strong>{{ collaboration_group.group_name }}</strong>"?</h1>
        </div>

        <div class="d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Confirm</button>
                <a href="{% url 'collaboration_group:collaboration_group_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
