<ul class="nav nav-tabs my-3" role="tablist">
    <li class="nav-item">
        <a href="{% url 'achievement:user_progress' %}?search={{ request.GET.search }}" class="nav-link {% if request.resolver_match.url_name == 'user_progress' %}active{% endif %}">User Progress</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'achievement:performance_analytics' %}?search={{ request.GET.search }}" class="nav-link {% if request.resolver_match.url_name == 'performance_analytics' %}active{% endif %}">Performance Analytics</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'achievement:ai_insights' %}?search={{ request.GET.search }}" class="nav-link {% if request.resolver_match.url_name == 'ai_insights' %}active{% endif %}">AI Insights</a>
    </li>
</ul>
    


  