{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Export TXT to JSON</h2>

    <!-- Upload Form -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-block mt-4">Upload and Convert</button>
            </form>
        </div>
    </div>

    {% if json_data %}
    <div class="mt-4">
        <h3>JSON Data</h3>
        <div class="json-container">
            <pre>{{ json_data|safe }}</pre>
        </div>
        <div class="text-right mb-4">
            <a href="{% url 'tools:download_json_file' %}?file_name={{ json_file_name }}" class="btn btn-primary mt-3">Download JSON</a>
        </div>
    </div>
    {% endif %}
</div>

<!-- Navigation Tabs -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-12">
        <div class="card-header title rounded">
            <h1 class="text-center">Convert Text to JSON</h1>
        </div>
        <div class="card-body rounded">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" id="excelTab" href="javascript:void(0)" onclick="showExcel()">Excel to JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="wordTab" href="javascript:void(0)" onclick="showWord()">TXT to JSON</a>
                </li>
            </ul>

            <!-- Textarea Controls -->
            <div class="d-flex justify-content-end mb-3 align-items-center">
                <label for="number_of_textareas" class="mr-2">Number of text areas:</label>
                <input type="number" id="number_of_textareas" min="1" value="1" class="form-control form-control-sm" style="width: 80px;">
                <button class="btn btn-primary btn-sm ml-2" onclick="createTextAreas()">OK</button>
            </div>

            <div class="card mt-3 rounded">
                <div class="card-body" id="textareas_container"></div>
            </div>

            <div class="text-right mt-3">
                <a href="{% url 'tools:download_zip_file' %}" class="btn btn-primary">Download All as ZIP</a>
            </div>
        </div>
    </div>
</div>

{% include 'toggle_script.html' %}

{% endblock %}
