{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/excel_to_json_styles.css' %}">

<div class="mt-1">
    {% include "menuTools.html" %}
    <h2 class="mb-4 text-center">Convert Excel to JSON</h2>
    <div class="container text-center" {% if success_message %}style="display: none;"{% endif %}>
        <p>Choose EXCEL files</p>
        <form id="excel-upload-form" action="{% url 'tools:excel_to_json_view' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-upload" id="file-upload-area">
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Drag and drop files here</p>
                <input type="file" name="files" multiple accept=".xlsx" style="display: none;" id="file-input">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('file-input').click();">Browse files</button>
            </div>
            <div id="uploaded-files" class="mt-3"></div>
            <p id="file-count">You have uploaded 0 files.</p>
            <button type="submit" class="btn btn-success convert-btn">Convert to JSON</button>
        </form>
        
        <!-- JSON Preview Section -->
        {% comment %} <div id="json-preview-container" class="mt-4"{% if success_message %}style="display: none;"{% endif %}>
            <h3>JSON Preview:</h3>
            <pre id="json-preview"></pre>
        </div> {% endcomment %}
    </div>
    {% if success_message %}
        <div class="success-message mt-4" id="success">
            <h3 class="text-success">Success!</h3>
            <p>{{ success_message }}</p>
            <p>Files created:</p>
                <ul id="file-names-container" class="list-group">
                    {% for file in file_names_and_urls %}
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <!-- Cột chứa tên file -->
                            <div class="d-flex flex-column col-md-8">
                                <span class="font-weight-bold">{{ file.file_name }}</span>
                            </div>
                            <!-- Cột chứa nút download -->
                            <div class="col-md-4 text-right">
                                <a href="{{ file.file_url }}" class="btn btn-outline-primary btn-sm">Download</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="mt-3">
                    <a href="{{ download_url }}" class="btn btn-primary mr-2">Download All as ZIP</a>
                    <a href="{% url 'tools:excel_to_json_view' %}" class="btn btn-secondary">Refresh</a>
                </div>
        </div>
    {% endif %}

    <script>
        const fileInput = document.getElementById('file-input');
        const uploadedFilesContainer = document.getElementById('uploaded-files');
        const fileCountText = document.getElementById('file-count');
        //const jsonPreview = document.getElementById('json-preview');

        // Ngăn chặn hành động mặc định khi kéo file vào khu vực upload
        const fileUploadArea = document.getElementById('file-upload-area');
        fileUploadArea.addEventListener('dragover', (event) => {
            event.preventDefault(); // Ngăn chặn hành động mặc định
            event.dataTransfer.dropEffect = 'copy'; // Thay đổi biểu tượng chuột khi kéo file
        });

        fileUploadArea.addEventListener('drop', (event) => {
            event.preventDefault(); // Ngăn chặn hành động mặc định

            const files = event.dataTransfer.files; // Lấy các file đã kéo
            fileInput.files = files; // Cập nhật file input

            uploadedFilesContainer.innerHTML = ''; // Xóa nội dung trước đó
            //jsonPreview.textContent = ''; // Xóa JSON preview trước đó

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileDiv = document.createElement('div');
                fileDiv.className = 'uploaded-file';
                fileDiv.innerHTML = `
                    <div class="d-flex align-items-center mb-2">
                        <i class="fas fa-file-alt"></i>
                        <p class="mb-0 ml-2">${file.name}</p>
                        <span class="ml-2">${(file.size / 1024).toFixed(2)} KB</span>
                        <i class="fas fa-times remove-file ml-2" onclick="removeFile(this)"></i>
                    </div>
                `;
                uploadedFilesContainer.appendChild(fileDiv);
            }
            fileCountText.innerText = `You have uploaded ${files.length} file${files.length > 1 ? 's' : ''}.`;

            // Upload file cho JSON preview
            //updateJsonPreview();
        });

        // Xử lý khi người dùng chọn file từ input
        fileInput.addEventListener('change', (event) => {
            const files = event.target.files;
            uploadedFilesContainer.innerHTML = ''; // Xóa nội dung trước đó
            //jsonPreview.textContent = ''; // Xóa JSON preview trước đó

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileDiv = document.createElement('div');
                fileDiv.className = 'uploaded-file';
                fileDiv.innerHTML = `
                    <i class="fas fa-file-alt"></i>
                    <p>${file.name}</p>
                    <span>${(file.size / 1024).toFixed(2)} KB</span>
                    <i class="fas fa-times remove-file" onclick="removeFile(this)"></i>
                `;
                uploadedFilesContainer.appendChild(fileDiv);
            }
            fileCountText.innerText = `You have uploaded ${files.length} file${files.length > 1 ? 's' : ''}.`;

            // Upload file cho JSON preview
            //updateJsonPreview();
        });

        // Ngăn không cho form gửi nếu không có file nào
        document.getElementById('excel-upload-form').addEventListener('submit', (event) => {
            if (fileInput.files.length === 0) {
                event.preventDefault(); // Ngăn chặn việc gửi form
                alert('Please upload at least one Excel file to convert.'); // Hiển thị thông báo lỗi
            }
            const formData = new FormData(document.getElementById('excel-upload-form'));
            fetch("{% url 'tools:excel_to_json_view' %}", {
                method: 'POST',
                body: formData,
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .catch(error => {
                console.error('Error:', error);
            });
        }); 

        function removeFile(element) {
            const fileDiv = element.parentElement;
            const index = Array.from(uploadedFilesContainer.children).indexOf(fileDiv);
            const dt = new DataTransfer(); // Tạo đối tượng DataTransfer để quản lý danh sách file

            for (let i = 0; i < fileInput.files.length; i++) {
                if (i !== index) {
                    dt.items.add(fileInput.files[i]); // Thêm các file còn lại vào đối tượng DataTransfer
                }
            }

            fileInput.files = dt.files; // Cập nhật danh sách file trong input
            uploadedFilesContainer.removeChild(fileDiv); // Xóa file khỏi hiển thị
            fileCountText.innerText = `You have uploaded ${fileInput.files.length} file${fileInput.files.length > 1 ? 's' : ''}.`;
            
            // Xóa preview JSON khi xóa file
            jsonPreview.textContent = ''; 
        }

        {% comment %} function updateJsonPreview() {
            const formData = new FormData(document.getElementById('excel-upload-form'));
            fetch("{% url 'tools:excel_to_json_view' %}", {
                method: 'POST',
                body: formData,
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                const jsonPreview = document.getElementById('json-preview'); // Đảm bảo bạn có phần tử này trong HTML
                if (data.json_preview) {
                    jsonPreview.textContent = JSON.stringify(data.json_preview, null, 2); // Hiển thị JSON thô
                } else if (data.error) {
                    jsonPreview.textContent = `Error: ${data.error}`;
                }
            })
            .catch(error => {
                const jsonPreview = document.getElementById('json-preview'); // Đảm bảo bạn có phần tử này trong HTML
                jsonPreview.textContent = `Error: ${error}`;
            });
        } {% endcomment %}
    </script>
</div>
{% endblock %}