{% extends 'base.html' %}
{% load form_filters %}

{% block title %}Export Questions{% endblock %}

{% block content %}
<style>
  .table-responsive {
          max-height: 20rem;
          overflow: auto;
          display:inline-block;
      }
</style>
<div class="container mt-4">
  <h2>Export Questions - {{ course.course_code }}</h2>
  <h5>Course Full Name: {{ course.course_name }}</h5>
  <div class="mt-3 row gap-4">
    <div class="col-4 align-middle">  
      <a href="{% url 'quiz_bank:quiz_bank_course_refresh' course.id %}" class="btn btn-secondary">Back to Quiz Bank - {{course.course_code}}</a>
    </div>
  <div class="pt-2 pb-2 border rounded col-3 align-middle text-center">
    <div class="mt-3 text-center">
      <div class="text-center">
        <h5>Total</h5>
      </div>
      <div class="text-center">
        {% if not question_count %}
        <h5>0 question</h5>
        {% elif question_count > 1 %}
      <h5>{{ question_count }} questions</h5>
      {% elif question_count == 1 %}
      <h5>1 question</h5>
      {% endif %}
      </div>
      
    </div>
  </div>
  
    <div class="pt-2 pb-2 border rounded col-4 d-flex justify-content-end">
      
      <form method="get">
        <div class="row">
        <div class="col">
          Type: {{ filter_form.filter_by|add_class:"form-control" }}
        </div>
        <div class="col">
          Chapter: {{ filter_form.chapter|add_class:"form-control" }}
        </div>
        <div class="mt-2">
          <button class="btn btn-primary" type="submit">Filter</button>
        <a class="btn btn-secondary" href="{% url 'quiz_bank:export_selected_question' course.id %}">Reset Filter</a>
        </div>
      </div>
      </form>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
  <div class="mt-3 table-responsive container-fluid">
    
      <table class="table table-striped">
          <thead>
              <tr>
                  <th class="text-center align-middle">#</th>
                  <th class="text-center align-middle">Questions</th>
                  <th class="text-center align-middle">Chapter</th>
                  <th class="text-center align-middle">Question Type</th>
                  <th class="text-center align-middle">Answer Options</th>
                  <th class="text-center align-middle">Key</th>
                  <th class="text-center align-middle">Selected</th>
              </tr>
          </thead>
          <tbody>
              {% for question in question_list %}
              <tr>
                  <td class="align-middle">{{ forloop.counter }}</td>
                  <td class="align-middle">{{ question.question }}</td>
                  <td class="align-middle">{{ question.chapter }}</td>
                  <td class="text-center align-middle">{{ question.question_type }}</td>
                  <td class="align-middle">
                    {% if question.question_type != 'TEXT' %}
                      <ul>
                          {% for answer in question.answer %}
                          <li>
                              {{ answer }}
                          </li>
                          {% endfor %}
                      </ul>
                    {% else %}
                    N/A
                    {% endif %}
                  </td>
                  <td class="align-middle">
                    <ul>
                      {% for key in question.key %}
                      <li>
                          {{ key }}
                      </li>
                      {% endfor %}
                  </ul>
                  </td>
                  <td class="text-center align-middle">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="selected_ids" value="{{ question.id }}">
                    </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    
    
    
  </div>
  <div class="mt-2">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit">Export Selected</button>
      <a href="{% url 'quiz_bank:quiz_bank_course_refresh' course.id %}" class="btn btn-secondary">Back to Quiz Bank - {{ course.course_code }}</a>
    
  </div>
</form>
</div>
{% endblock %}