{% extends 'base.html' %}
{% load form_filters %}

{% block title %}JSON Modification{% endblock %}

{% block content %}
<style>
    .table-responsive {
          max-height: 20rem;
          overflow: auto;
          display:inline-block;
    }
</style>
<div class="container mt-4">
    <h1>JSON Modification</h1>
<div class="mt-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <h5>Upload Another JSON</h5>
            {{form.json_file.label_tag}}
            {{form.json_file|add_class:"form-control"}}
        </div>
        <button type="submit" class="btn btn-success" name="json">
            Submit
        </button>
    </form>
</div>

<div class="mt-3 table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center align-middle">#</th>
                <th class="text-center align-middle">Questions</th>
                <th class="text-center align-middle">Chapter</th>
                <th class="text-center align-middle">Question Type</th>
                <th class="text-center align-middle">Answer Options</th>
                <th class="text-center align-middle">Key</th>
                <th class="text-center align-middle">Action(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for question in question_list %}
            <tr>
                <td class="align-middle">{{ forloop.counter }}</td>
                <td class="align-middle">{{ question.question }}</td>
                <td class="align-middle">{{ question.chapter }}</td>
                <td class="text-center align-middle">{{ question.question_type }}</td>
                <td class="align-middle">
                    <ul>
                        {% for option in question.answer %}
                        <li>
                            {{ option }}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="align-middle">
                    {% for key in question.key %}
                    <ul>
                        <li>
                            {{key}}
                        </li>
                    </ul>
                    {% endfor %}
                </td>
                <td class="text-center align-middle">
                    <a href="{% url 'quiz_bank:json_delete_question' question.id %}" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" name="download">
        Download
    </button>
</form>
</div>

{% endblock %}