{% load static %}
<script>
    const notificationCountUrl = "{% url 'progress_notification:unread_notification_count' %}";
    const notificationListUrl = "{% url 'progress_notification:notification_list' %}";
</script>
<script src="{% static 'js/bell.js' %}"></script>

<a class="nav-link notification-btn" href="javascript:void(0);" style="position: relative;">
    <i class="fas fa-bell" style="font-size: 24px; margin-right: 10px;"></i>
    <span class="notification-count" 
          style="position: absolute; top: -1px; right: 4px; background-color: red; color: #000; border-radius: 50%; padding: 3px; font-size: 12px; font-weight: bold; min-width: 20px; text-align: center; display: inline-block;">
        0
    </span>

    <!-- Notification dropdown (hidden by default) -->
    <div class="notification-dropdown" 
         style="display: none; position: absolute; left: -300px; top: 50px; background-color: #fff; border: 1px solid #200505; width: 430px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000;">
        <ul class="notification-list" style="list-style: none; margin: 0; padding: 10px; color: black;">
            <li>Loading notifications...</li>
        </ul>
    </div>
</a>
