{% extends 'base.html' %}
{% block title %}Courses for Program{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Courses for {{ program.program_name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Course Code</th> <!-- Add this line for the new column -->
                <th>Course Name</th>
                <th>Term No</th>
                <th>Course Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ course.course.course_code }}</td> <!-- Add this line for the course code -->
                <td>{{ course.course.name }}</td>
                <td>{{ course.semester }}</td>
                <td>
                    <a href="{% url 'course:course_detail' course.course.pk %}" class="btn btn-info btn-sm">View Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'training_program:training_program_list' %}" class="btn btn-secondary">Back to Training Program List</a>
</div>
{% endblock %}